<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand menu-toggle">
                <a href="#" class="">
                    <i class="fa fa-ellipsis-h"></i> <span class="nav-text"> Start Bootstrap</span>
                </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-tachometer"></i> <span class="nav-text">Dashboard</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-pencil-square"></i> <span class="nav-text"> Articles</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-file-text"></i> <span class="nav-text"> Pages</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-download"></i> <span class="nav-text"> Media</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-users"></i> <span class="nav-text"> Users</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-sliders"></i> <span class="nav-text"> Settings</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cogs"></i> <span class="nav-text"> System</span></a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Navbar -->
    <div id="page-content-wrapper">


        <nav class="navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand menu-toggle" href="#"><span class="fa fa-bars"></span> </a>
                    <a class="navbar-brand " href="#">Brand</a>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


        <!-- Page Content -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6"><h1>Dash</h1></div>

                <div class="col-md-6 text-right">
                    Status
                </div>
            </div>

            <div class="row">
                <!-- Dashboard content -->
                <div class="col-md-9">

                    <section class="widgets">

                        <div class="row">
                            <div class="col-md-4">
                                <aside class="panel">
                                    <div class="panel-body">
                                        <p class="h4 text-capitalize">Panel Title</p>
                                        <hr>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias dicta,
                                            dolores
                                            doloribus ipsa vel.
                                        </p>
                                    </div>
                                </aside>
                            </div>


                            <div class="col-md-4">
                                <aside class="panel">
                                    <div class="panel-body">
                                        <p class="h4 text-capitalize">Panel Title</p>
                                        <hr>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias dicta,
                                            dolores
                                            doloribus ipsa vel.
                                        </p>
                                    </div>
                                </aside>
                            </div>

                            <div class="col-md-4">
                                <aside class="panel">
                                    <div class="panel-body">
                                        <p class="h4 text-capitalize">Panel Title</p>
                                        <hr>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias dicta,
                                            dolores
                                            doloribus ipsa vel.
                                        </p>
                                    </div>
                                </aside>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <p>
                                            Commodi ea esse provident quidem quod? Aliquam, architecto eum ex facilis
                                            nisi sequi tempora? Dolor, doloremque et exercitationem neque officia
                                            reiciendis unde.
                                        </p>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading lead">
                                        Data Collections
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">Cras justo odio</li>
                                        <li class="list-group-item">Dapibus ac facilisis in</li>
                                        <li class="list-group-item">Morbi leo risus</li>
                                        <li class="list-group-item">Porta ac consectetur ac</li>
                                        <li class="list-group-item">Vestibulum at eros</li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </section>

                    <section>

                        <div class="row">
                            <div class="col-lg-12">

                                <aside class="panel">
                                    <div class="panel-body">
                                        <h3>Simple Sidebar</h3>
                                        <hr>
                                        <p>This template has a responsive menu toggling system. The menu will appear
                                            collapsed
                                            on smaller
                                            screens, and will appear non-collapsed on larger screens. When toggled using
                                            the
                                            button below,
                                            the menu will appear/disappear. On small screens, the page content will be
                                            pushed
                                            off
                                            canvas.</p>
                                        <p>Make sure to keep all page content within the
                                            <code>#page-content-wrapper</code>.
                                        </p>
                                    </div>
                                </aside>
                            </div>
                        </div>

                    </section>

                </div>

                <!--  side bar -->

                <div class="col-md-3">
                    <aside class="panel">
                        <div class="panel-heading">
                            <p class="lead">Sidebar...</p>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </aside>

                    <aside class="panel">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, atque commodi
                                dignissimos dolorem ea eaque earum facilis in inventore ipsum maxime minima nisi,
                                obcaecati omnis quaerat, quod rem rerum tempore.</p>
                        </div>
                    </aside>


                </div>

            </div>
            <nav class="navbar navbar-fixed-bottom">
                <div class="container-fluid">
                    <p class="navbar-text navbar-center">Signed in as Mark Otto</p>
                </div>
            </nav>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $(".menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $(".nav-text").toggle();
//        $(".sidebar-nav li").toggleClass("text-center");
        $(".sidebar-nav i").fadeIn();

    });
</script>

</body>

</html>
